version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: url_postgres
    environment:
      POSTGRES_DB: urlshortener
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../db/migrations:/migrations

  redis:
    image: redis:7-alpine
    container_name: url_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: